listening-port={{ turn_listening_port }}
fingerprint
use-auth-secret
static-auth-secret={{ turn_static_auth_secret }}
realm={{ turn_realm }}
total-quota=0
bps-capacity=0
stale-nonce
no-multicast-peers
simple-log
